.btn-indere {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 5px;
}

.btn-size {
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 50px;
    font-size: smaller;
    width: 40px;
    margin: 1px;
}

.count-space {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-trash {
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.btn-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-amount-span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.btn-delete {
    background-color: white;

}

.start-cart-line {
    background-color: lightblue;
}
