

.photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    text-align: center;
}

.photo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}