.photo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
    margin: auto;
    text-align: center;
}

.photo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product-cart-buy {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    border: 3px solid black;    
    height: 305px;
    align-items: center;
    margin: 50px;
    padding: auto;
}

.photo-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-price-cart {
    object-fit: cover;
    height: 150px;
    padding: 10px;
}

table{
    table-layout: fixed;
    width: 80%;
    margin: auto;
    margin-top: 25px;
    
}

.th-titles {
    text-align: center;
    background-color: #add8e670;
}

th, td {
    text-align: center;
    word-wrap: break-word;
    
}

.td-styles {
    border-bottom: 5px solid #add8e690;
}

.th-footer {
    text-align: center;
    background-color: #add8e670;
}

.searchbar {
    width: 60%;
    padding: 5px;
}

.searchbar-div {
    background-color: #add8e670;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 60px;
    box-shadow: 5px 5px #00000010;
}
