.withoutStyle {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

.withoutStyle:hover {
    color: black;
}

.center_prod_box {
    padding: auto;
    margin: auto;
}

.product_title {
    padding: 5px;
    margin: 5px;
}

.prod_price {
    padding: 7px;
    background-color: #3ea4c450;
    width: 90%;
    border-radius: 20%;
    border: 3px solid lightblue;

}

.prod_stock {
    padding: 7px;
    background-color: #e6394670;
    width: 90%;
    border-radius: 20%;
    margin-top: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prod_box {
    background-color: #add8e699;
    margin: auto;
    overflow: hidden;
    border: 5px solid #00aaaa00;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width:30%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}



.photo {  
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 15px solid #3ea4c430; 
    transition: 0.5s;
    transition-timing-function: linear;
    
}

.product_img:hover .photo {
    transform:scale(1.1);
    transition: 0.5s;
    transition-timing-function: linear;
}

.product_img {
    overflow:hidden;
}

.add-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.prod_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.btn-wish {
    border: 0px;
}

.link-reg {
    text-decoration: none;
}

.price {
    font-size: x-large;
    font-weight: bold;
}

.btn-buy {
    background-color: #e6394690;
    color: black;
}

.icon-heart-product {
    font-size: x-large;
    color: red;
}

.btn-category-style {
    text-decoration: none;
}

.btn-category {
    color: black;
}



